@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "commons/var.scss";

@import "components/tablepage/header.scss";
@import "components/tablepage/toolbar.scss";
@import "components/tablepage/formula.scss";
@import "components/tablepage/table.scss";

@import "components/mainpage/dashboard.scss";

*{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: $mainBackground;
}

.excel {
	position: relative;
	height: 100%;
	max-width: 100%;
	font-size: 0.8rem;
}